<mat-dialog-content class="mat-typography">
    <div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="textFormUser">INFORMACION CENTRO DE TRABAJO</h4>
                        </div>
                        <div class="col-md-6">
                            <button mat-raised-button (click)="exportAsXLSX()">
                                <i class="material-icons">file_download</i>
                                EXPORTAR INFORMACIÓN DE AFILIADOS EXCEL</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div style="height:80%">
                        <mat-tab-group mat-align-tabs="start">

                            <mat-tab label="INFORMACION">
                                <div style="text-align: center;">
                                    <img class="img-ct" src="{{infoProject.logo}}" />
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mt-4">
                                        <!-- <mat-icon>numbers</mat-icon>  -->
                                        <b class="title">N° CONTRATO: </b>
                                        <mat-label class="label"> {{infoProject.contrato}}</mat-label>
                                    </div>

                                    <div class="col-md-4 mt-4">
                                        <!-- <mat-icon>person</mat-icon>  -->
                                        <b class="title">NOMBRE CONTRATISTA: </b>
                                        <mat-label class="label"> {{infoProject.contratista}}</mat-label>
                                    </div>

                                    <div class="col-md-4 mt-4">
                                        <!-- <mat-icon>card_membership</mat-icon>  -->
                                        <b class="title">NOMBRE REPRESENTANTE LEGAL: </b>
                                        <mat-label class="label"> {{infoProject.nombre_rep_legal}}</mat-label>
                                    </div>

                                    <div class="col-md-4 mt-4">
                                        <!-- <mat-icon>card_membership</mat-icon>  -->
                                        <b class="title">CEDULA REPRESENTANTE LEGAL: </b>
                                        <mat-label class="label"> {{infoProject.cedula_rep_legal}}</mat-label>
                                    </div>

                                    <div class="col-md-4 mt-4">
                                        <!-- <mat-icon>card_membership</mat-icon>  -->
                                        <b class="title">NIT: </b>
                                        <mat-label class="label"> {{infoProject.nit}}</mat-label>
                                    </div>

                                    <div class="col-md-4 mt-4">
                                        <!-- <mat-icon>card_membership</mat-icon>  -->
                                        <b class="title">ENTIDAD CONTRATANTE: </b>
                                        <mat-label class="label"> {{infoProject.entidad}}</mat-label>
                                    </div>

                                    <div class="col-md-4 mt-4">
                                        <!-- <mat-icon>card_membership</mat-icon>  -->
                                        <b class="title">VALOR CONTRATO: </b>
                                        <mat-label class="label"> {{infoProject.valor_contrato}}</mat-label>
                                    </div>

                                    <div class="col-md-4 mt-4">
                                        <!-- <mat-icon>location_on</mat-icon>  -->
                                        <b class="title">DEPARTAMENTO: </b>
                                        <mat-label class="label"> {{infoProject.departamento}}</mat-label>
                                    </div>

                                    <div class="col-md-4 mt-4">
                                        <!-- <mat-icon>location_on</mat-icon>  -->
                                        <b class="title">MUNICIPIO: </b>
                                        <mat-label class="label"> {{infoProject.municipio}}</mat-label>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-12 mt-5">
                                        <!-- <mat-icon>info</mat-icon> -->
                                        <b class="title">OBJENTO CONTRATO: </b>
                                        <mat-label class="label"> {{infoProject.objeto_contrato}}</mat-label>
                                    </div>
                                    <div class="col-md-12 mt-4">
                                        <!-- <mat-icon>card_membership</mat-icon>  -->
                                        <b class="title">URL PROCESO: </b>
                                        <mat-label class="label" (click)="url(infoProject.url_proceso)" style="color: blue; text-decoration: underline blue
                                        ;"> {{infoProject.url_proceso}}</mat-label>
                                    </div>

                                </div>
                            </mat-tab>

                            <mat-tab label="AFILIADOS">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <th>
                                                    Nombre y Apellido
                                                </th>
                                                <th>
                                                    Cedula
                                                </th>
                                                <th>
                                                    Celular
                                                </th>
                                                <!-- <th>
                                                    Correo
                                                </th> -->
                                                <th>
                                                    Cargo
                                                </th>
                                                <th>
                                                    Estado
                                                </th>
                                                <th>
                                                    Carpeta Personal
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of dataUserMembership">
                                                    <td>
                                                        {{item.nombre | titlecase}} {{item.apellido | titlecase}}
                                                    </td>
                                                    <td>
                                                        {{item.cedula}}
                                                    </td>
                                                    <td>
                                                        {{item.celular}}
                                                    </td>
                                                    <!-- <td>
                                                        {{item.correo}}
                                                    </td> -->
                                                    <td>
                                                        {{item.cargo}}
                                                    </td>
                                                    <td [ngClass]="{'text-danger': item.estado === 'retirado', 'text-success' : item.estado === 'afiliado', 'text-info' : item.estado === 'pendiente_examen_medico', 'text-info' : item.estado === 'afiliado_pendiente_examen_medico' }">
                                                        {{item.estado}}
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <i class="material-icons" (click)="openDialog(item.cedula)">
                                                            folder_shared</i>
                                                    </td>
                                        </table>
                                    </div>
                                </div>
                                <!-- <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource">
                              
                                  
                                  <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef> No. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                  </ng-container>
                              
                                  
                                  <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                  </ng-container>
                              
                                 
                                  <ng-container matColumnDef="weight">
                                    <th mat-header-cell *matHeaderCellDef> Weight </th>
                                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                  </ng-container>
                              
                                  
                                  <ng-container matColumnDef="symbol">
                                    <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                              
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                               showFirstLastButtons 
                                               aria-label="Select page of periodic elements">
                                </mat-paginator>
                              </div>        -->
                            </mat-tab>

                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>



        <!--     
        <div>
            <img [src]="imageData" />
        </div> -->

    </div>
    <button type="submit" mat-raised-button color="warn" (click)="generateQR()">GENERAR QR PARA FACTURACIÓN ELECTONICA</button>
    <div *ngIf="QR" style="width: 30%; margin-left: auto; margin-right: auto;">
        <qrcode [qrdata]="myAngularxQrCode" [allowEmptyString]="true" [colorDark]="'#000000ff'" [colorLight]="'#ffffffff'" [elementType]="'canvas'" [width]="300" [errorCorrectionLevel]="'M'" [title]="'DATOS FACTURACIÓN ELECTONICA'" [margin]="4"></qrcode>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">CERRAR</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>