<div class="main-content">
    <div class="container-fluid">
        <div class="row" *ngIf="dataAdmin">
            <div class="col-md-4" *ngFor="let item of dataContratc" (click)="openInfoProject(item._id)">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div style="width: 100%; text-align: center;">
                            <img class="img-ct" src="{{item.logo}}" alt="Red dot" />
                        </div>
                        <div class="ct-chart" id="dailySalesChart" style="text-align: center; font-weight: bold; font-size: 20px;"> N° {{item.contrato}}</div>
                        <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
                    </div>
                    <div class="card-body simple-text">
                        <!-- <h4 class="card-title simple-text">Centro de Trabajo N° {{item.contrato}}</h4> -->
                        <span style="color: black; font-weight: bold; text-align: center;">{{item.entidad}}</span>
                        <p class="card-category simple-text">Informacion : {{item.objeto_contrato}}</p>
                        <span style="color: black; font-weight: bold;">{{item.contratista}}</span>
                        <br>
                        <p class="card-category">
                            <span class="text text-success">{{item.valor_contrato | currency}} </span></p>
                    </div>
                    <div class="card-footer">
                        <div class="stats simple-text">
                            <div class="row">
                                <div class="col-6">
                                    <i class="material-icons">place</i> {{item.municipio}} - {{item.departamento}}
                                </div>
                                <div class="col-3">
                                    <i class="material-icons">date_range</i> {{item.createdAt | date}}
                                </div>
                                <div class="col-md-3">
                                    <button mat-button (click)="urlProceso(item.url_proceso)" color="warn">URL<i class="material-icons" >touch_app</i> </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="dataUserInfo">
            <div class="col-md-4" (click)="openInfoProject(dataContratc._id)">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div style="width: 100%; text-align: center;">
                            <img class="img-ct" src="{{dataContratc.logo}}" alt="Red dot" />
                        </div>
                        <div class="ct-chart" id="dailySalesChart" style="text-align: center; font-weight: bold; font-size: 20px;"> N° {{dataContratc.contrato}}</div>
                        <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
                    </div>
                    <div class="card-body simple-text">
                        <span style="color: black; font-weight: bold; text-align: center;">{{dataContratc.entidad}}</span>
                        <p class="card-category simple-text">Informacion : {{dataContratc.objeto_contrato}}</p>
                        <span style="color: black; font-weight: bold;">{{dataContratc.contratista}}</span>
                        <br>
                        <p class="card-category">
                            <span class="text text-success">{{dataContratc.valor_contrato | currency}} </span></p>
                    </div>
                    <div class="card-footer">
                        <div class="stats simple-text">
                            <div class="row">
                                <div class="col-6">
                                    <i class="material-icons">place</i> {{dataContratc.municipio}} - {{dataContratc.departamento}}
                                </div>
                                <div class="col-3">
                                    <i class="material-icons">date_range</i> {{dataContratc.createdAt | date}}
                                </div>
                                <div class="col-md-3">
                                    <button mat-button (click)="urlProceso(dataContratc.url_proceso)" color="warn">URL<i class="material-icons" >touch_app</i> </button>
                                </div>
                            </div>

                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 80%; margin-left: auto; margin-right: auto; text-align: center;" class="alert alert-info" role="alert" *ngIf="dataContratc.length === 0 ">
            SIN CENTRO DE TRABAJO ASIGNADO
        </div>
        <div class="btn-fab example-button-container" *ngIf="dataAdmin">
            <button mat-fab color="warn" (click)="openDialog()">
              <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>